NODE_ENV=
PORT=

JWT_SECRET=
OAUTH_JWT_SECRET=

# MongoDB URI
MongoDB_URI=

# WhatsApp API
WhatsAppToken=
phoneNumberID=

# URL that the API is hosted on. (e.g. http://localhost:3000/admin/v1)
FWG_API_URL=

# Facebook App: <App-ID> (<App Name>) (ex. FB_APP_1234567890_Secret=)
FB_APP_<ID>_Secret=

# Ship Rocket
ShipRocket_ID=
ShipRocket_Password=

# Internal Server Routes
FWG_API_URL=
GCS_API_URL=

# NODEMAILER CONFIG
NODEMAILER_HOST=
NODEMAILER_PORT=
NODEMAILER_USER=
NODEMAILER_PASSWORD=
NODEMAILER_EMAIL=

# Attendance Credentials
Attendance_CorporateID=
Attendance_User=
Attendance_Password=

# Razorpay - fitnesswithgomzi@gmail.com (Merchant ID: CiS87S7GTMLS25)
RAZORPAY_KEY=
RAZORPAY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

# Razorpay - fgiitsurat@gmail.com (Merchant ID: IwHEpNNtAPrDLR)
RAZORPAY_FGIIT_KEY=
RAZORPAY_FGIIT_SECRET=
RAZORPAY_FGIIT_WEBHOOK_SECRET=

# Razorpay - gomzinutrition@gmail.com (Merchant ID: OejSEaaVBvxRmf)
RAZORPAY_FGMEALS_KEY=
RAZORPAY_FGMEALS_SECRET=
RAZORPAY_FGMEALS_WEBHOOK_SECRET=

# Razorpay - ashishjani672@gmail.com (Merchant ID: PJ728F7GxhfZkN)
RAZORPAY_GOMZI_CONSULTING_KEY=
RAZORPAY_GOMZI_CONSULTING_SECRET=
RAZORPAY_GOMZI_CONSULTING_WEBHOOK_SECRET=